{%extends "base.html" %}
{%load widget_tweaks%}

{%block title%}register.html{%endblock%}

{%block content%}

<div class="row">
    <div class="col"></div>
    
    <div class="'col-6">

        <h1>회원가입</h1>
        <p>ID와 비밀번호를 입력하세요. 비밀번호는 두 번 입력해야합니다.</p>
    
        {%if form.errors %}
        <div class="alert alert-danger">
            <div class="font-weight-bold">아래에 나타난 오류를 해결해주세요!</div>
            {{form.errors}}
        </div>
        {%endif%}
    
        <form action="." method="POST" class="card pt-3"> {%csrf_token%}
            <div class="form-group row">
                {{ form.username|add_label_class:"col-form-label col-sm-auto ml-3 font-weight-bold"}}
            </div>
    
            <div class="col-sm-5">
                {{ form.username|add_class:"form-control"|attr:"autofocus"}}
            </div>
    
            <div class="form-group row">
                {{form.password1|add_label_class:"col-form-label col-sm-auto ml-3 font-weight-bold"}}
            </div>
    
            <div class="col-sm-5">
                {{ form.password1|add_class:"form-control"}}
            </div>    
            
            <div class="form-group row">
                {{form.password2|add_label_class:"col-form-label col-sm-auto ml-3 font-weight-bold"}}
            </div>
    
            <div class="col-sm-5">
                {{ form.password2|add_class:"form-control"}}
            </div>
    
            <div class="form-group">
                <div class="offset-sm-9 col-sm-auto">
                    <input type="submit" value="sign up" class="btn btn-info"/>
                </div>
            </div>
        </form>
    </div>
    
    <div class="col"></div>

</div>

{%endblock%}